# macOS
.DS_Store

# IDEs
.idea/
.vscode/*
!.vscode/launch.json
*.swp
*.swo

# Environment
.env
.env.*
!.env.example
!apps/web/.env.example
apps/mobile/env/*.env

# Go
bin/
__debug_bin*
*.test
*.out
coverage.out
go.work

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
!apps/mobile/pubspec.lock

# Generated
*.log
tmp/
coverage/
node_modules/
dist/
.astro/
